
    h1{
        color:brown;
        text-align: center;
        background-color: aqua;
        

    }
    h2{
        color:aqua;
        text-align:justify;
        line-height: 500%;
        background-color: black;
    }

